main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  overflow: hidden;
  overflow-y: auto;
}

.header {
  width: 100%;
  height: 80px;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--purple);
  font-weight: 600;
}

.header .logo i {
  font-size: 40px;
  transition: color 0.3s ease;
  color: var(--purple);
}

.header .search-bar {
  display: flex;
  align-items: center;
  background: var(--bg);
  border-radius: 4px;
  width: 320px;
}
.header .search-bar input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 10px;
  padding-right: 34px;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  transition: border 0.3s ease;
}
.header .search-bar button:focus {
  outline: none;
}
.header .search-bar input::placeholder {
  color: var(--font);
  font-size: 16px;
}

.header .search-bar input:focus {
  border-radius: 4px;
  border: 1px solid var(--purple);
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--font);
  font-size: 20px;
  position: absolute;
  right: 10px;
}

.search-bar button i {
  font-size: 23px;
  color: var(--font);
  transition: color 0.3s ease;
}
.header .search-bar button:hover i {
  color: var(--purple);
}
.header .search-bar button:focus {
  outline: none;
}

.container {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background: var(--bg);
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation ul li a {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.navigation ul li a:hover {
  border-color: var(--purple);

  font-weight: 600;
}

.navigation ul li a.active {
  background: rgba(128, 0, 128, 0.144);
  font-weight: 600;
}

.navigation ul li i,
.navigation ul li a .material-symbols-outlined {
  font-size: 23px;
  color: var(--font);
  transition: color 0.3s ease;
}

.navigation .user-nav {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(800px, 99%);
  padding: 20px;
  background: var(--card-bg);
  border-radius: 4px;
  overflow: hidden;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

form label {
  font-size: 16px;
  font-weight: 600;
}

form label span {
  color: red;
}

form input:not([type="submit"]),
form textarea {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--accent);
  color: var(--font);
  background: none;
}

form textarea {
  field-sizing: content;
  max-height: 400px;
}
form input:not([type="submit"]):focus,
form textarea:focus {
  outline: 0;
}

form input[type="file"] {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
}

.upload-img-preview {
  display: flex;
  width: 100%;
  height: fit-content;
  border-radius: 4px;
  background: var(--card-bg);
}

.upload-img-preview img {
  max-height: 150px;
  background: var(--grey);
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.form-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px;
  border-top: 1px solid var(--accent);
  padding: 10px 0;
}

.form-btns button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid var(--accent);
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-btns button[type="submit"] {
  background: var(--purple);
  color: var(--bg);
}
.form-btns button:hover {
  transform: scaleX(1.1);
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--shadow);
}

.right-sidebar .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: var(--card-bg);
  border-radius: 4px;
}

.right-sidebar .card h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.right-sidebar .card h2 span {
  font-size: 30px;
  color: var(--purple);
  margin-right: 10px;
}

.right-sidebar img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
}
