.feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(800px, 99%);
  padding: 20px;
  background: var(--card-bg);
  border-radius: 4px;
  overflow: hidden;
  overflow-y: auto;
}

.feed-profiles-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100%;
  /* height: 270px; */
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden; /* add this */
}

.feed-profiles-row .feed-profile-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 5px;
  background: var(--card-bg);
  box-shadow: 0 0 5px var(--shadow);
  border-radius: 4px;
  overflow: hidden;
  width: 200px;
}

.feed-profiles-row .feed-profile-card .img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.feed-profiles-row .feed-profile-card .img span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  border-radius: 50%;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.356);
  color: white;
}

.feed-profiles-row .feed-profile-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}

.feed-profiles-row .feed-profile-card:hover .img img {
  transform: scale(1.05);
}

.feed-profile-card .title,
.feed-profile-card h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--font);
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid var(--shadow);
}
.post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.post-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post .post-header .img {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background: var(--grey);
}

.post .pa-name {
  font-size: 20px;
  font-weight: 600;
}
.post .pa-name span {
  font-size: 16px;
  font-weight: 500;
}

.post-category {
  background: rgba(128, 0, 128, 0.055);
  border: 1px solid rgba(128, 0, 128, 0.055);
  color: var(--purple);
  padding: 5px 10px;
  border-radius: 4px;
}

.post-category a {
  font-size: 16px;
  font-weight: 500;
  color: var(--purple);
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-category span,
.post-category i {
  font-size: 23px;
  color: var(--purple);
}

.post-title {
  font-weight: 700;
}

.post .post-conetent {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.post .post-image {
  width: 100%;
  height: 350px;
  padding: 10px;
}

.post .post-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  border-radius: 7px;
}

.post .post-interactions {
  display: flex;
}

.post-interactions ul {
  width: 100%;
  margin: 5px 0 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-interactions ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.post-interactions ul li:hover {
  background: rgba(128, 0, 128, 0.055);
}

.post-interactions ul li span {
  padding: 3px;
  font-size: 23px;
  color: var(--accent);
  transition: color 0.3s ease;
}
.post-interactions ul li.active span {
  color: var(--purple);
}
