@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap");

:root {
  --bg: #f1f1f1;
  --bg2: #f9f8f6;
  --font: #000;
  --grey: #f1f1f1;
  --card-bg: #fff;
  --text: #333;
  --accent: #555;
  --white: #fff;
  --purple: purple;
  --purple-faded: rgba(128, 0, 128, 0.5);
  --shadow: rgba(0, 0, 0, 0.2);
}

.dark-theme {
  --bg: #000;
  --bg2: #111;
  --font: #fff;
  --grey: #222;
  --card-bg: #333;
  --text: #fff;
  --accent: #aaa;
  --white: #fff;
  --purple: rgb(192, 48, 192);
  --purple-faded: rgba(160, 33, 160, 0.5);
  --shadow: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  color: var(--font);
  text-decoration: none;
  position: relative;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}
html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
  overflow: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1;
}

.title.lg {
  font-size: 50px;
}

.title.sml {
  font-size: 20px;
  margin: unset;
}

.overlay {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.514);
  display: none;
  align-items: center;
  justify-content: center;
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  overflow: hidden;
  overflow-y: auto;
}

.header {
  width: 100%;
  height: 80px;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--purple);
  font-weight: 600;
}

.header .logo i {
  font-size: 40px;
  transition: color 0.3s ease;
  color: var(--purple);
}

.header .search-bar {
  display: flex;
  align-items: center;
  background: var(--bg);
  border-radius: 4px;
  width: 320px;
}
.header .search-bar input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 10px;
  padding-right: 34px;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  transition: border 0.3s ease;
  border-radius: 4px;
  border: 1px solid var(--purple);
}
.header .search-bar button:focus {
  outline: none;
}
.header .search-bar input::placeholder {
  color: var(--font);
  font-size: 16px;
}

.header .mobile-nav {
  display: none;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--font);
  font-size: 20px;
  position: absolute;
  right: 10px;
}

.search-bar button i {
  font-size: 23px;
  color: var(--font);
  transition: color 0.3s ease;
}
.header .search-bar button:hover i {
  color: var(--purple);
}
.header .search-bar button:focus {
  outline: none;
}

.container {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0 50px;
  background: var(--bg);
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 250px;
  padding: 20px;
  border-radius: 4px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation ul li a,
.navigation ul li span.nav-btn {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.navigation ul li a:hover,
.navigation ul li span.nav-btn:hover {
  border-color: var(--purple);
}

.navigation ul li a.active {
  background: rgba(128, 0, 128, 0.144);
}

.navigation ul li i,
.navigation ul li .material-symbols-outlined {
  font-size: 23px;
  color: var(--font);
  transition: color 0.3s ease;
}

/* .navigation .user-nav {
  position: absolute;
  bottom: 20px;
  left: 20px;
} */

.right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--shadow);
  overflow-y: auto;
}

.right-sidebar .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: var(--card-bg);
  border-radius: 4px;
}

.right-sidebar .card h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.right-sidebar .card h2 span {
  font-size: 30px;
  color: var(--purple);
  margin-right: 10px;
}

.right-sidebar img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
}
@media (max-width: 1200px) {
  .right-sidebar {
    display: none;
  }

  .container {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 0 10px;
  }
  .header .logo {
    font-size: 16px;
    font-weight: 500;
  }

  .header .current-page,
  .header .search-bar {
    display: none;
  }
  .header .mobile-nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header .mobile-nav i {
    font-size: 23px;
    color: var(--font);
    transition: color 0.3s ease;
  }
  .header .mobile-nav i:hover {
    color: var(--purple);
  }

  .container {
    padding: 0 10px;
  }
  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--shadow);
    background: var(--card-bg);
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
  }

  .navigation ul {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .navigation ul a {
    display: flex;
    flex-direction: column;
  }

  .navigation ul a div {
    display: none;
  }

  .navigation .user-nav {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 8px;
  }

  .title {
    font-size: 1.2rem;
  }
  .title.lg {
    font-size: 1.5rem;
  }
  .title.sml {
    font-size: 1rem;
  }
}
